#block-views-home-carrousel-block{
  text-align: center;
  .slider {
    display: block;
    width: 344px;
    margin: -40px auto 0 auto;
    background: rgba(0,0,0,0.3);
    padding: 1px;
    z-index: 1000;
    color: #fff;
  }
  

  .description{
  	display: block;
    width: 345px;
    height: 85px;
    background: rgba(0, 0, 0, 0.5);
    top: -21px;
    z-index: 100;
    position: relative;
    text-align: left;
    right: 308px;
    margin: -7% auto 0 auto;
    color: #fff;
    padding-left: 10px;

    a{
      color: #fff;
    }
  }

  h2,h3{
  	margin: 0px;
  }

  h2{
  	font-size: 30px;
  	letter-spacing: 1px;
  }

  h3{
  	font-size: 16;
  }

  .field-name-field-image-slider{
    overflow: hidden;
    height: auto;
    width: 100%;

    img{
      width: 100%;
      height: auto;
    }
  }

  @media screen and(max-width: 990px){
    .description{
      display: block;
      width: 99%;
      height: 85px;
      background: rgba(0, 0, 0, 0.5);
      top: 0px;
      z-index: 1000;
      position: relative;
      text-align: left;
      right: 0px;
      margin: 0 auto 0 auto;
      color: #fff;
      padding-left: 10px;
    }
  }
}