.page-home-persianas .view-id-home_persianas,
.view-display-id-page_1{
  .views-row{
    display: inline-block;
    margin: 5px ;

    .views-field-title{
      z-index: 100;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow:ellipsis;
      height: 36px;
      padding: 10px;
      margin-top: -40px;
      position: relative;
      background: rgba(0, 0, 0, 0.5);      
      span a{
        font-size: 17px;
        font-weight: lighter;
        margin: 0px;
        color: #fff;
        text-decoration: none;
      }
    }


  }

  @media screen and(max-width: 990px){
    .views-row{
      display: inline-block;
      margin: 1%; ;
      width: 47%;
      img{
        width: 100%;
        height: auto;
      }

      
    }
  }

    

}