#block-system-main-menu{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  ul{
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
  }
  ul li{
    float: right;
    list-style: none;
    margin-right: 15px;
  }

  ul li a{
    text-decoration: none;
    color: #fff;
  }

  ul li a:hover{
    text-decoration: underline;
  }

  #home{
    display: block;
    width: 250px;
    height: 200px;
    margin-top: -49px;
    text-indent: -9999px;
    background: url("../images/logo.png") no-repeat;
    background-size: 108%;
  }

}

@media screen and (max-width: 990px){

.l-region--navigation{
  width: 150px;
  height: 130px;
  margin: 0 0 0 20px;
  background: rgba(0,0,0,0.8);
  padding-top: 0px;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

#block-system-main-menu{
  background: url("../images/logo.png") no-repeat;  
  background-size: 100%;
  width: 200px;
  height: 100px;
  display: block;
  margin: -15px 0 0 -23px;

  >ul{
    width: 130px;
    margin: 10px auto;
    display: none;
  }

  ul >li{
    float: none;
    margin: 5px auto ;
  }
  
  #home{
    background: none;
    text-indent: 0px;
    height: auto;
    width: auto;
    margin-top: 0px;
    display: none;
  }
}



    
}
