#block-system-main-menu{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  ul{
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
  }
  ul li{
    float: right;
    list-style: none;
    margin-right: 15px;
  }

  ul li a{
    text-decoration: none;
    color: #fff;
  }

  ul li a:hover{
    text-decoration: underline;
  }

  #home{
    display: block;
    width: 250px;
    height: 200px;
    margin-top: -49px;
    text-indent: -9999px;
    background: url("../images/logo.png") no-repeat;
    background-size: 108%;
  }

}

@media screen and (max-width: 990px){

  .l-region--navigation{
    width: 20%;
    height: 100px;
    margin: 0 0 0 10px;
    background: none;
    padding-top: 0px;
    top:-1%;
  }

  #block-system-main-menu{
    width: 95%;
    height: 70px;
    margin: 0 0 0 10px;
    background: url('../images/mob_menu.png')no-repeat center center  , rgba(0,0,0,0.8);
    padding-top: 60px;
    top: 2%;
    
    
    >ul{
      width: 150px;
      margin: 0 auto;
      padding: 10px;
      background: #000;
      z-index: 10px;
      display: none;
      transition: 1s ;
    }

    ul >li{
      width: 100%;
      float: none;
      margin: 10px auto ;
      background: gray;
      padding: 2px;
    }
    
    #home{
    display: block;
    width: auto;
    height: auto;
    margin-top: 0px;
    text-indent: 0px;
    background: none;    }    
  }

  #block-system-main-menu:hover{
    cursor: pointer;
  }
    
}

@media screen and(max-width: 500px){
  .l-region--navigation{
    width: 95%;
  }

  #block-system-main-menu{
    >ul{
      width: 95%;
    }
  }
}
