@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\000031}}
#block-menu-menu-footer-menu {
  color: #fff;
  display: block;
  width: 300px;
  position: relative;
  left: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\000037}}
  #block-menu-menu-footer-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000312}}
  #block-menu-menu-footer-menu a:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000316}}
  #block-menu-menu-footer-menu ul {
    padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000320}}
  #block-menu-menu-footer-menu ul li {
    list-style: none;
    margin-bottom: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000326}}
#block-menu-menu-menu-contacto {
  display: block;
  width: 300px;
  float: right;
  top: -160px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000332}}
  #block-menu-menu-menu-contacto a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000337}}
  #block-menu-menu-menu-contacto a:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_footer_menus\.scss}line{font-family:\0000341}}
  #block-menu-menu-menu-contacto li {
    list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_typography\.scss}line{font-family:\000031}}
h1 {
  font-size: 45px;
  font-weight: bolder;
  margin: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/variables\/_typography\.scss}line{font-family:\000037}}
.page-node p {
  font-size: 20px; }

/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\000034}}
.node-type-sucursal h2 {
  font-size: 30px;
  font-weight: bolder; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\000039}}
.node-type-sucursal h2 a {
  color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000313}}
.node-type-sucursal h2 a:hover {
  text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000316}}
.node-type-sucursal .field-collection-container {
  border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000319}}
  .node-type-sucursal .field-collection-container .field__items .field-collection-item-field-contact-info .label-inline {
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000323}}
  .node-type-sucursal .field-collection-container a {
    color: #bcbcbc;
    text-decoration: none;
    transition: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000329}}
  .node-type-sucursal .field-collection-container a:hover {
    text-decoration: underline;
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000335}}
.node-type-sucursal .field--name-field-map-branch {
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000340}}
.node-type-sucursal .field-collection-view {
  margin: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000347}}
.page-sucursales .l-content .view-sucursales .view-content .views-row {
  width: 450px;
  display: inline-block;
  margin-right: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000353}}
.page-sucursales .field-collection-container {
  border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000356}}
  .page-sucursales .field-collection-container .field__items .field-collection-item-field-contact-info .label-inline {
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000360}}
  .page-sucursales .field-collection-container a {
    color: #bcbcbc;
    text-decoration: none;
    transition: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000366}}
  .page-sucursales .field-collection-container a:hover {
    text-decoration: underline;
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000372}}
.page-sucursales h2 {
  font-size: 30px;
  font-weight: bolder; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000377}}
.page-sucursales h2 a {
  color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000381}}
.page-sucursales .field--name-field-map-branch {
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_branches\.scss}line{font-family:\0000386}}
.page-sucursales .field-collection-view {
  margin: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\000031}}
#block-views-home-carrousel-block {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\000033}}
  #block-views-home-carrousel-block .slider {
    display: block;
    width: 344px;
    margin: -40px auto 0 auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 1px;
    z-index: 1000;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000314}}
  #block-views-home-carrousel-block .description {
    display: block;
    width: 345px;
    height: 85px;
    background: rgba(0, 0, 0, 0.5);
    top: -21px;
    z-index: 100;
    position: relative;
    text-align: left;
    right: 308px;
    margin: -7% auto 0 auto;
    color: #fff;
    padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000328}}
    #block-views-home-carrousel-block .description a {
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000333}}
  #block-views-home-carrousel-block h2, #block-views-home-carrousel-block h3 {
    margin: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000337}}
  #block-views-home-carrousel-block h2 {
    font-size: 30px;
    letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000342}}
  #block-views-home-carrousel-block h3 {
    font-size: 16; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000346}}
  #block-views-home-carrousel-block .field-name-field-image-slider {
    overflow: hidden;
    height: auto;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000351}}
    #block-views-home-carrousel-block .field-name-field-image-slider img {
      width: 100%;
      height: auto; }
  @media screen and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_carrousel\.scss}line{font-family:\0000358}}
    #block-views-home-carrousel-block .description {
      display: block;
      width: 99%;
      height: 85px;
      background: rgba(0, 0, 0, 0.5);
      top: 0px;
      z-index: 1000;
      position: relative;
      text-align: left;
      right: 0px;
      margin: 0 auto 0 auto;
      color: #fff;
      padding-left: 10px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\000031}}
.l-region--header {
  z-index: -1000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\000035}}
.l-region--navigation {
  background: #000;
  color: #fff;
  padding-top: 20px;
  height: 57px;
  position: absolute;
  top: 70px;
  z-index: 1000;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000316}}
.l-main {
  max-width: 990px;
  margin: 0px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000321}}
.l-region--sidebar-first {
  width: 655px;
  display: block;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000327}}
.l-region--sidebar-second {
  width: 290px;
  display: block;
  margin-left: 664px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000332}}
.l-footer {
  background: url("../images/bg_footer.png");
  padding-bottom: 70px;
  padding-top: 20px;
  margin-top: 300px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000340}}
.breadcrumb {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000344}}
.field-collection-container {
  border-bottom: none; }

@media screen and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000350}}
  .l-region--sidebar-first {
    width: 100%;
    display: block;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_global\.scss}line{font-family:\0000356}}
  .l-region--sidebar-second {
    width: 100%;
    display: block;
    text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\000033}}
.page-home-persianas .view-id-home_persianas .views-row,
.view-display-id-page_1 .views-row {
  display: inline-block;
  margin: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\000037}}
  .page-home-persianas .view-id-home_persianas .views-row .views-field-title,
  .view-display-id-page_1 .views-row .views-field-title {
    z-index: 100;
    display: block;
    min-width: 189px;
    max-width: 317px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
    padding: 10px;
    margin-top: -40px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\0000319}}
    .page-home-persianas .view-id-home_persianas .views-row .views-field-title span a,
    .view-display-id-page_1 .views-row .views-field-title span a {
      font-size: 17px;
      font-weight: lighter;
      margin: 0px;
      color: #fff;
      text-decoration: none; }
@media screen and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\0000332}}
  .page-home-persianas .view-id-home_persianas .views-row,
  .view-display-id-page_1 .views-row {
    display: inline-block;
    margin: 1%;
    width: 47%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\0000336}}
    .page-home-persianas .view-id-home_persianas .views-row img,
    .view-display-id-page_1 .views-row img {
      width: 100%;
      height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\0000341}}
    .page-home-persianas .view-id-home_persianas .views-row .views-field-title,
    .view-display-id-page_1 .views-row .views-field-title {
      z-index: 10000;
      display: block;
      min-width: 189px;
      max-width: 317px;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 36px;
      padding: 10px;
      margin-top: -40px;
      position: absolute;
      background: rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_home\.scss}line{font-family:\0000353}}
      .page-home-persianas .view-id-home_persianas .views-row .views-field-title span a,
      .view-display-id-page_1 .views-row .views-field-title span a {
        font-size: 17px;
        font-weight: lighter;
        margin: 0px;
        color: #fff;
        text-decoration: none; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
#block-system-main-menu {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\000035}}
  #block-system-main-menu ul {
    width: 1000px;
    margin: 0 auto;
    padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000310}}
  #block-system-main-menu ul li {
    float: right;
    list-style: none;
    margin-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000316}}
  #block-system-main-menu ul li a {
    text-decoration: none;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000321}}
  #block-system-main-menu ul li a:hover {
    text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000325}}
  #block-system-main-menu #home {
    display: block;
    width: 250px;
    height: 200px;
    margin-top: -49px;
    text-indent: -9999px;
    background: url("../images/logo.png") no-repeat;
    background-size: 108%; }

@media screen and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000339}}
  .l-region--navigation {
    width: 20%;
    height: 100px;
    margin: 0 0 0 10px;
    background: none;
    padding-top: 0px;
    top: -1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000348}}
  #block-system-main-menu {
    width: 95%;
    height: 70px;
    margin: 0 0 0 10px;
    background: url("../images/mob_menu.png") no-repeat center center, rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    top: 2%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000357}}
    #block-system-main-menu > ul {
      width: 150px;
      margin: 0 auto;
      padding: 10px;
      background: #000;
      z-index: 10px;
      display: none;
      transition: 1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000367}}
    #block-system-main-menu ul > li {
      width: 100%;
      float: none;
      margin: 10px auto;
      background: gray;
      padding: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000375}}
    #block-system-main-menu #home {
      display: block;
      width: auto;
      height: auto;
      margin-top: 0px;
      text-indent: 0px;
      background: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000384}}
  #block-system-main-menu:hover {
    cursor: pointer; } }
@media screen and (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000391}}
  .l-region--navigation {
    width: 95%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_navigation\.scss}line{font-family:\0000396}}
  #block-system-main-menu > ul {
    width: 95%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\000032}}
.node-type-persiana .group-left {
  width: 480px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\000035}}
  .node-type-persiana .group-left .field-slideshow-wrapper {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\000039}}
  .node-type-persiana .group-left .field-slideshow-controls .prev {
    text-indent: -9999px;
    background: url("../images/left.png") no-repeat;
    background-size: 50px;
    display: block;
    height: 51px;
    width: 51px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000318}}
  .node-type-persiana .group-left .field-slideshow-controls .next {
    text-indent: -9999px;
    background: url("../images/right.png") no-repeat;
    background-size: 50px;
    display: block;
    height: 51px;
    width: 51px;
    float: right;
    margin-top: -51px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000329}}
  .node-type-persiana .group-left .field-slideshow-pager {
    text-align: center;
    width: 78%;
    padding-left: 0px;
    margin-left: 55px;
    margin-top: -40px;
    overflow: scroll; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000338}}
  .node-type-persiana .group-left .field-slideshow-pager li {
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000343}}
.node-type-persiana .group-right {
  width: 480px;
  padding-left: 20px;
  background: #EDECFB;
  padding-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000349}}
  .node-type-persiana .group-right .promo {
    width: 480px;
    margin-left: -20px;
    padding: 5px;
    background: #FB9500;
    color: #fff;
    font-size: 35px;
    text-align: right;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000360}}
  .node-type-persiana .group-right .promo-label {
    float: left;
    display: block;
    width: 400px;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000367}}
  .node-type-persiana .group-right .title {
    font-size: 30px;
    font-weight: bolder; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000372}}
  .node-type-persiana .group-right .body {
    font-size: 18px;
    font-weight: normal; }
@media screen and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000380}}
  .node-type-persiana .group-right,
  .node-type-persiana .group-left {
    width: 100%;
    height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000386}}
  .node-type-persiana .group-left .field-slideshow {
    width: 90%;
    height: auto;
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_persiana_page\.scss}line{font-family:\0000395}}
  .node-type-persiana .group-right .promo {
    width: 100%;
    margin-left: 1px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\000031}}
.promotions-page {
  width: 655px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\000037}}
.view-promotions .view-content > div {
  margin-bottom: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\0000310}}
.view-promotions .group-right {
  background: #FB9500;
  height: 123px;
  overflow: hidden;
  padding: 5px;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\0000317}}
  .view-promotions .group-right .title {
    margin-top: -45px;
    font-size: 30px;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\0000322}}
    .view-promotions .group-right .title h2 a {
      text-decoration: none;
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\0000327}}
    .view-promotions .group-right .title h2 a:hover {
      text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\0000332}}
  .view-promotions .group-right .price {
    margin-top: -45px;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vipomx\/Sites\/drupalsites\/html\/sites\/local\.persianas\.com\/themes\/persianas\/sass\/components\/_promotions\.scss}line{font-family:\0000340}}
  .view-promotions .group-right .body {
    font-size: 13px;
    margin-top: -10px; }
